@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Lalezar&display=swap');
/* font-family: 'Baloo Bhai', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Oswald', sans-serif; */
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    
}
.kontainer {
    background: url(./bilder/tilted_dirt.png);
    color: #fff;
    height: 1000px;
}

/* Sidans sidhuvud */
.kontainer .sidhuvud {
    background: #000000;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 45% 55%;
    color: #fff;
    position: fixed;
}
.kontainer .sidhuvud h1 {
    font-family: 'Baloo', cursive;
    font-size: 40px;
    padding-left: 40px;
    margin-top: 20px;
    text-align: center;
}
.kontainer .sidhuvud img {
    width: 100px;
    margin-top: 20px;
}
.kontainer .sidhuvud ul {
    list-style: none;
    padding-bottom: 0px;
    text-align: center;
}
.kontainer .sidhuvud ul li {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 40px 15px;
    font-size: 20px;
    cursor: default;
    animation-name: huvud-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.kontainer .sidhuvud ul li:hover {
    animation-name: huvud-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.kontainer .sidhuvud a {
    color: #fff;
    text-decoration: none;
}
.kontainer .på {
    font-weight: bold;
    font-size: 30px;
}

/* Sidans innehåll */
.kontainer .innehåll {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000bb;
    width: 900px;
    margin: 0 auto;
    padding: 20px 70px;
    height: 1000px;
}
.kontainer .innehåll h2 {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}
.kontainer .innehåll p {
    font-size: 20px;
}
.kontainer .innehåll .mitten {
    text-align: center;
    margin-top: 20px;
}
.kontainer .innehåll .select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 100px 0 0 15px;
}
.kontainer .innehåll .select .kontinent {
    width: 300px;
    height: 300px;
    animation-name: server-in;
    animation-duration: 0.5s;
    border-radius: 200px;
}
.kontainer .innehåll .select .kontinent:hover {
    animation-name: server-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.kontainer .innehåll .select .kontinent img {
    width: 295px;
    margin-top: -1px;
}
.kontainer .innehåll .select .kontinent p {
    text-align: center;
}

/* Get a server innehåll */
.kontainer .getServer {
    background: #00000088;
    width: 500px;
    margin: 0 100px 0 0;
}

.kontainer .getServer ul {
    text-align: center;
    padding: 10px;
}
.kontainer .getServer ul li {
    list-style: none;
}

/* Animation */
@keyframes huvud-in {
    from{transform: scale(1)}
    to{transform: scale(1.2)}
}
@keyframes huvud-out {
    from{transform: scale(1.2)}
    to{transform: scale(1)}
}
@keyframes server-in {
    from{transform: scale(1.1)}
    to{transform: scale(1)}
}
@keyframes server-out {
    from{transform: scale(1)}
    to{transform: scale(1.1)}
}