@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Oswald&display=swap');
/* font-family: 'Baloo Bhai', cursive;
font-family: 'Oswald', sans-serif; */
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {

}
.kontainer {
    background: #333;
}

/* Sidans sidhuvud */
.kontainer .sidhuvud {
    background: #555;
    height: 250px;
    padding: 25px;
    text-align: center;
}
.kontainer .sidhuvud h1 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.kontainer .sidhuvud ul {
    list-style: none;
    display: block;
}
.kontainer .sidhuvud ul li {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    background: #888;
    margin: 10px;
    border-radius: 10px;
}

/* Annan design på sidhuvud */
.kontainer .sidhuvud2 {
    background: #555;
    height: 100px;
    display: grid;
    grid-template-columns: 33% 10% 67%;
}
.kontainer .sidhuvud2 h1 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 40px;
    padding-left: 40px;
    margin-top: 20px;
    display: inline-block;
}
.kontainer .sidhuvud2 img {
    width: 100px;
    margin-top: 20px;
}
.kontainer .sidhuvud2 ul {
    list-style: none;
    display: inline-block;
    padding-bottom: 13px;
    text-align: center;
    margin-top: 20px;
}
.kontainer .sidhuvud2 ul li {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

/* Sidans innehåll */
.kontainer .innehåll {
    font-family: 'Oswald', sans-serif;
    background: #888;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    height: 1000px;
}
.kontainer .innehåll h2 {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}
.kontainer .innehåll p {
    font-size: 25px;
}