body {
    background: #000;
}
table {
    font: 14px sans-serif;
    font-weight: bold;
    width: 1250px;
    background: #FFF;
    border-collapse: collapse;
}
caption {
    background: #12326E;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
}
thead {
    background: #12326E;
    color: #FFF;
    text-transform: uppercase;
}
th {
    padding: 10px;
}
td {
    text-align: center;
    padding: 5px;
}
img{
    width: 20px;
}
.ledare {
    background: #e100ff;
    color: #FFF;
}
.varannan {
    background: #DDD;
}
.vänster {
    text-align: left;
}