@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Mansalva&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende på sidan */
body {
    background: url(./bilder/scones.jpg);
    background-size: cover;
}
/* Utseende på boxen */
div {
    background: rgb(255, 229, 182);
    width: 500px;
    margin: 100px auto 0 auto;
    padding: 50px;
    border-radius: 20px;
    border: 10px solid orange;
    box-shadow: 5px 5px 20px #000;
    color: #A75A00;
    font-family: 'Dancing Script', cursive;
}
/* Utseende på innehållet */
h1 {
    font-family: 'Mansalva', cursive;
    margin-bottom: 20px
}
h2 {
    font-family: 'Mansalva', cursive;
}
ul {
    list-style-type: none;
    margin-bottom: 10px;
}
.beskrivning{
    font-weight: bold
}