@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
table {
    width: 1585px;
    border-spacing: 10px;
    table-layout: fixed;
}
th {
    border-collapse: collapse;
}
td {
    font-family: 'Modak', cursive;
    font-size: 10px;
}
img {
 width: 50px;
}
