@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Spicy+Rice&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende på backgrunden */
body {  
    background: #030200 url(./bilder/ensam_pump.png) no-repeat;
}
div {

}
.kontainer{

}

/* Utseende på huvudet */
.kontainer .sidhuvud {
    height: 300px;
}
.kontainer .sidhuvud h1 {
    font-family: 'Spicy Rice', cursive;
    color: #fff;
    margin: 100px 0 0 750px;
    font-size: 60px;
}

/* Utseende på  menyn*/
.meny {
    width: 337px;
    margin: -150px 0 40px 300px;
}
.meny ul {

}
.meny ul li {
    font-family: 'Fjalla One', sans-serif;
    color: #ff0;
    background: linear-gradient(90deg, rgba(255,106,0,1) 0%, rgba(75,25,0,1) 100%);
    display: inline;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #f60;
    font-size: 30px;
}
.meny ul li:hover {
    color: #000;
}
/* Utseende på sökfältet */
.kontainer .pumpor {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.kontainer .pumpor .alternativ {
    height: 300px;
    margin: 10px
}
.kontainer .pumpor .alternativ img {
    width: 100%;
    height: 100%;
}
.kontainer .pumpor .alternativ p {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    position: relative;
    top: -40px;
    left: 0;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}