@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Usteende på sidan */
body {
    background: #000;
}
.sidan {
    font-family: 'Noto Serif', serif;
    width: 800px;
    background: rgb(91, 91, 91);
    padding: 50px;
    margin: 50px auto 50px auto;
    border-radius: 20px;
    box-shadow:  0 0 10px #fff;
}
h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 50px;
    color: #fff
}

/* Utseende på inlägget */
.inlagg {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,67,1) 100%);
    padding: 50px;
    margin: 15px 0 15px 0;
    box-shadow: 10px 10px 50px #000;
}
img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    height: 400px;
}
h2 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
}
.datum {
    color: gold
}
p {
    color: #fff
}

/* Utseende på sidfoten */
.sidfot {

}
.namn {

}