body {
    background: url(./bilder/photo-1496737018672-b1a6be2e949c.jpg);
    background-size: cover;
}
h1 {
    font: 80px sans-serif;
    margin: 100px 0 0 100px;
    color: #FFF;
    text-transform: uppercase;
}
h2 {
    font: 40px sans-serif;
    font-weight: bold;
    margin: 50px 0 0 100px;
    color: #FFF;
}
p {
    font: 50px sans-serif;
    color: #FFF;
    margin: 225px 0 0 1100px;
    width: 203px;
    background-color: rgba(196, 15, 172, 0.469);
    padding: 25px;
    border-radius: 20px;
    border: 3px solid;
    border-color: #FFF;
}