@import url('https://fonts.googleapis.com/css?family=Calistoga|Courgette&display=swap');
/* font-family: 'Calistoga', cursive;
font-family: 'Courgette', cursive; */
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Styla kalendern */
body {
    background: url("./foton/sincerely-media-8EhZobADF8M-unsplash.jpg");
}

/* Sidan i mitten av webbläsarfönstret */
html, body {
    height: 100%;
}
.mitten {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontainer {
    background: #fff;
    width: 1000px;
    text-align: center;
    border-radius: 15px;
    padding: 25px;
}
h1 {
    font-family: 'Calistoga', cursive;
    font-size: 100px;
    border: 5px dashed #f00;
    background: darkgreen;
    border-radius: 100px;
    margin-bottom: 30px;
}
.kalender {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    justify-content: center;
}
.ruta {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    background: #f00;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ruta:hover {
    background: #f04 no-repeat center;
    box-shadow: 0 0 10px #f00;
}
.klapp1 {
    font-size: 0;
    background: url("./foton/nkauti1571284271381.jpg") no-repeat;
    background-size: 80px 80px;
    animation: tona 5s;
    pointer-events: none;
}
.klapp2 {
    font-size: 0;
    background: url("./foton/klocka.jpg") no-repeat;
    background-size: 80px 80px;
    animation: tona 2s;
    pointer-events: none;
}
.klappText {
    font: 12px sans-serif;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    animation: tona 2s;
    pointer-events: none;
}
@keyframes tona {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}