@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body {
    width: 700px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}
h1 {

}
h2 {

}
p {

}
strong {

}
ul {

}
li {

}