/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende på sidan */
body {
    background: #e2f9ff;;
}
div {

}

/* Utseende på länkarna */
.sökruta {
    width: 200px;
    margin: 100px 0 0 147px;
    border: 1px solid #AAA;
    border-radius: 20px;
    background: #888;
    background: #d3d3d3;
}
.länk {
    padding: 10px;
    text-align: center;
}
a {
    text-transform: none;
}

/* Utseende på texten */
.text {
    background: #fff;
    margin: -120px auto 0 auto;
    width: 700px;
    height: 696px;
    padding: 50px;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
p {
    margin-bottom: 20px;
}
ul {
    margin-bottom: 20px;
}