/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Background style */
body {
    background: #000;
    color: #fff;
}

/* Header style */
header {
    background: #888;
    height: 250px;
}
header h1 {
    margin-top: 37px;
    text-align: center;
    font-size: 90px;
}
header nav {
    margin: auto;
    background: #000;
    width: 378px;
    width: fit-content;
}
header nav ul li {
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
}

/* Content section style */
.content {
    width: 70%;
    margin: auto;
    padding: 100px;
    font-size: 1.5em;
    background: #444;
}