@import url('https://fonts.googleapis.com/css?family=Denk+One&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background: url(./bilder/bakgrund.jpg);
    background-size: cover;
    margin: 100px 0 0 100px;
    width: 550px;
    font-family: sans-serif;
}
h1 {
    font-family: 'Denk One', sans-serif;
    color: #00A6AD;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    color: #00A6AD;
    margin-bottom: 15px
}
img {
    size: 100%;
    padding: 25px;
    background: #A9E5E5;
    border-radius: 5px;
    margin-bottom: 10px;
}
p {
    background: #A9E5E5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: 13px;
}
a {
    color: red;
}

/* Tabellens utseende */
table {
    width: 550px;
}
thead {
    background: #A9E5E5;
}
tr {

}
th {
    color: #00A6AD;
    padding: 10px;
    border-radius: 5px;
}
tbody {
    color: #fff;
}
td {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 15px;
    font-size: 12px
}